html {
  background-color: black;
}
body {
  background-color: #fff;
  margin: 0 auto;
  width: 900px;
}
header {
  background-color: rgb(94, 90, 90);
  color: #fff;
  padding: 5px 10px;
}
header + h2 {
  padding-left: 15px;
}
.lorem {
  padding-left: 15px;
}
article {
  background-color: gray;
  padding: 15px;
  margin: 15px;
}
article img {
  border: 2px solid white;
}
article img:first-of-type {
  margin: 15px;
}
#img {
  margin-right: 15px;
  margin-bottom: 15px;
}
#picture {
  margin-bottom: 15px;
}
#an {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
#bg {
  margin-bottom: 15px;
}
article img:last-of-type {
  margin: 15px;
}

div {
  border: 2px solid black;
  background-color: #f1e0c6;
  margin: 15px;
}
div h2 {
  background-color: rgb(246, 158, 75);
  color: #fff;
  margin: 0px;
  padding-left: 10px;
  font-size: 20px;
}
div p {
  padding-left: 10px;
  padding-right: 10px;
}
div h3 {
  padding-left: 10px;
}
